@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
  }

.page-header {
    background-color: #ffffff;
    color: #000000;  
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
}

.navigation-item-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
}

.main-index {
    color: #000000;
    background-color: #FFFFFF;
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 69% auto;
}

.main-header h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.main-header p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
}

.advantages-item:nth-child(7),
.advantages-item:first-child
{
    background-color: #000000;
    color: #FFFFFF;
}

.advantages-description {
    text-align: center;
}

.search {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.search-title-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
}

.distribution {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.distribution-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.distribution-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
}

.contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}