@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}
  
body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    /* background-color: #ffffff; */
    color: #000000;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #F2F2F2;
  }

.page-header {
    background-color: #ffffff;
    color: #000000;  
    height: 65px;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    min-width: 390px;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
    margin: 20px 17px;
    display: block; 
}

.navigation-logo {
  display: flex;
  width: 140px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  }

.navigation-user {
    min-width: 263px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 70px;
}

.navigation-user  .navigation-link {
    min-width: 18px;
    min-height: 18px;
    padding: 0;
    margin: 0;
    margin-right: 12px;
    margin-top: auto;
    margin-bottom: auto;
  }

.navigation-link-current:before {
    position: absolute;
    top: 61px;
    height: 2px;
    width: 68px;
    content: "";
    background-color: #756257;
}

.navigation-item-button { 
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(117, 97, 87, 1);
    min-width: 160px;
    margin-left: 20px;
    margin-top: 15px;
    border: none;
    width: 160px;
    height: 37px;
    border-radius: 4px;
    padding-top: 4px;
 }

 .navigation-item-button:hover {
    background-color: rgba(97, 80, 72, 1);
 }

 .navigation-item-button:focus {
    background-color: rgba(97, 80, 72, 1);
 }

 .navigation-item-button:active {
    background-color: rgba(117, 97, 87, 1);
    color: rgba(255, 255, 255, 0.3);
 }

.page-container {
    width: 1200px;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 82px;
}

.main-container {
    flex: 1 0 auto;
}

.main-index {
    color: #000000;
    background-color: #FFFFFF;  
    min-width: 1200px;
}

.main-header {
    min-width: 1200px;
}

.main-header-background {
    background-image: url("../images/index-background.jpg");  
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main-header-background:after {
    position: absolute;
    top: 14.6%;
    width: 100%;
    height: 57px;
    content: "";
    background-image: url("../images/welcome-divider.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;  
}

.main-header-advantages {
    min-height: 282px;
    margin-top: 63px;
}

.main-header-advantages h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    width: 620px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.main-header-advantages p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center; 
    margin: 0;
    margin-top: 30px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    min-width: 1200px;
}

.advantages-background {
    display: flex;
    min-width: 1200px;
}

.advantages-item-list {
    min-width: 1200px;
    padding: 0; 
    margin: 0;
    display: flex;  
    list-style-type: none; 
}

.advantages-list-item {
    min-width: 400px;
}

.advantages-bridge {
    display: flex;
    min-width: 1200px;
}

.advantages-bridge-flex {
    display: flex;
    flex-direction: column; 
    margin-top: 91px; 
    margin-left: auto;
    margin-right: auto;
}

.advantages-bridge-flex .advantages-title {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.advantages-bridge-flex span {
    margin-bottom: 30px;
}

.advantages-item-img {
    display: flex; 
    width: 800px;
}

.flex-container {
    display: flex;
    width: 1200px;
}

.advantages-square {  
    width: 400px;
    min-height: 384px;
    display: flex;
    flex-direction: column;
}

.advantages-square .advantages-title {
    margin-top: 103px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.advantages-square .advantages-description {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0;
}

.advantages-square span {
    margin-bottom: 30px;
}

.advantages-road {
    width: 400px; 
    min-height: 384px;
    display: flex;
    flex-direction: column;
}

.advantages-road .advantages-title { 
    margin-top: 103px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 150px;
}

.advantages-road .advantages-description {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0;
}

.advantages-road span {
    margin-bottom: 30px;
}

.advantages-tourist {
    width: 400px;
    min-height: 384px;
    display: flex;
    flex-direction: column;
}

.advantages-tourist .advantages-title {
    margin-top: 103px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 150px;
}

.advantages-tourist p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 250px;
}

.advantages-tourist span {
    margin-bottom: 30px;
}

.advantages-background-flex {
    display: flex;
    flex-direction: column;
    width: 400px;
    color: #ffffff;
}

.advantages-background-flex .advantages-title {
    width: 230px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    margin-bottom: 30px;
}

.advantages-background-flex p {
    width: 250px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.advantages-list-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 384px;
}

.advantages-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 30px;
}

.advantages-list-item .advantages-title {
    margin: 0;
    margin-bottom: 30px;
}

.advantages-list-item .advantages-description {
    margin: 0;
    margin-left: 85px;
    margin-right: 85px;
}


.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
}

.advantages-background {
    background: rgba(130, 179, 211, 1);
    color: #000000;
}

.advantages-home {
    background: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.advantages-souvenir {
    background: rgba(131, 179, 211, 0.12);
    color: #000000; 
}

.advantages-bridge{
    background: rgba(130, 179, 211, 1);
    color: #FFFFFF;
}

.advantages-square {
    background: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.advantages-road {
    background: rgba(131, 179, 211, 0.2);
    color: #000000;
}

.advantages-tourist {
    background: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.advantages-description {
    text-align: center;
}

.search {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    min-height: 417px;
}

.search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 91px;
    padding-bottom: 29px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-title-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(117, 97, 87, 1);
    margin-bottom: 93px;
    border: none;
    width: 574px;
    height: 60px;
    border-radius: 4px;
    margin-top: 56px;
}

.search-title-button:hover {
    background-color: rgba(97, 80, 72, 1);
 }

.search-title-button:focus {
    background-color: rgba(97, 80, 72, 1);
 }

.search-title-button:active {
    background-color: rgba(117, 97, 87, 1);
    color: rgba(255, 255, 255, 0.3);
 }

.search p {
    padding: 0;
    margin: 0;
}

.distribution {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    min-height: 411px;
}

.distribution-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    padding-top: 94px;
    margin: 0;
}

.distribution p {
    width: 475px;
    padding-top: 29px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.distribution-form {
    display: flex;
    justify-content: center;
    padding-bottom: 92px;
    padding-top: 46px;
}

.distribution-field {
    width: 600px;
    height: 60px;
    padding-left: 20px;
    border-radius: 10px 0px 0px 10px;
    margin-right: 0;
    padding-right: 0;
    justify-content: center;
    border: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.distribution-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(130, 179, 211, 1);
    width: 200px;
    height: 62px;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

.distribution-button:hover {
    background-color: rgba(104, 162, 202, 1);
 }

 .distribution-button:focus {
    background-color: rgba(104, 162, 202, 1);
 }

.distribution-button:active {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 0.3);
 }

.page-footer {
    flex-shrink: 0;
    background: #FFFFFF;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    min-height: 120px;
}

.foooter {
    min-height: 50px;
    min-width: 116px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 72px;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-social-item {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 26px;  
    min-height: 17px;
}

.footer-social-item:last-child {
    margin-right: 0px;  
}

.button:hover .button-icon path{
    fill: #68A2CA;
}

.button:focus .button-icon path{
    fill: #68A2CA;
}

.button:active .button-icon path{
    fill: rgba(104, 162, 202, 0.3);
}

.footer-logo {
    margin-left: auto;
    max-width: 115px;
    margin-top: 44px;
    margin-right: 72px;
}

.footer-logo:hover .footer-contacts-logo path {
    fill: #756157;
}

.footer-logo:focus .footer-contacts-logo path {
    fill: #756157;
}

.footer-logo:active .footer-contacts-logo path {
    fill: rgba(117, 97, 87, 0.3);
}


.footer-address {
    margin-left: 52px;
    margin-top: 45px;
    min-height: 50px;
}

.contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    min-width: 720px;
    display: block;

}

.contacts-phone:hover {
    color: rgba(117, 97, 87, 1);
 }

.contacts-phone:focus {
    color: rgba(117, 97, 87, 1);
 }

.contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);
 }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.8);
}

.modal {
    position: relative;
    margin: auto;
    background-color: #ffffff;
}

.modal-auth {
    min-width: 715px;
    height: 561px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;

}

.modal-title {
    margin: 0;
    margin-top: 62px;
    margin-left: 68px;
    margin-bottom: 63px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.field-group {
    width: 575px;
    padding: 0;
    margin: 0;
    margin-right: 70px;
    margin-left: 70px;
}

.modal-close-button { 
    position: absolute;
    padding: 0;
    top: 54px;
    right: 70px;
    width: 53px;
    height: 53px;
    fill: #ffffff;
    border: none;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
} 

.modal-close-button:focus {
    border: 3px solid #83B3D3;
    border-radius: 50%;
}



.dates {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    margin-right: 31px;
}

.arrival-date {
    margin-right: 37px;  
}

.auth-form-field {
    padding: 0;
    margin: 0;
    width: 420px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    height: 50px;
    background: #F2F2F2;
    border-radius: 4px;
    padding-left: 19px;
    padding-top: 15px;
    padding-bottom: 14px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: none;
}

.auth-form-field:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.calendar-svg {
    position: absolute;
    margin-top: 17px;
    right: 89px;
    width: 15px;
    height: 15px;
    background-image: url("../images/date.svg");
    background-repeat: no-repeat;
    background-size: 100% auto; 
    border: none;
}

.field-group-people {
    width: 288px;
    padding: 0;
    margin: 0;
    margin-left: 70px;
}

.field-group-child {
    margin-left: 56px;
    width: 230px;
}

.adults-people {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    margin-right: 59px;
}

.adults-child {
    margin-right: 43px; 
}

.rectangle {
    margin: 0;
    padding: 0;
    width: 133px;
    height: 50px;
    background: #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    padding-left: 61px;
}

.modal-group-people {
    display: flex;
}

.modal-button {
    width: 575px;
    height: 60px;
    background: #83B3D3;
    border: none;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 40px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.arrival-date-error {
    position: absolute;
    top: 221px;
    left: 225px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FF5757;
}

.departure-error {
    position: absolute;
    bottom: 229px;
    left: 225px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}


